body {
    background: #595959;
    padding: 0;
}

.reset {
    position: absolute;
    top: 4%;
    right: 4%;
    background-image: url('../assets/img/restart.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: lightgreen;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.reset:hover {
    border: dashed black 2px;
}

.container {
    position: relative;
    width: 900px;
    height: 660px;
    margin: 0 auto;
    margin-top: 10%;
    /* background: linear-gradient(#3f87a6, #3fbbdd, #ddd, #f69d21, #f69d3c); */
    background-image: url('../assets/img/farm_bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.main {
    position: absolute;
    /* border: 1px solid black; */
    bottom: 0%;
    height: 54%;
    width: 100%;
}

.plbtn {
    display: none;
    position: absolute;
    background-image: url('../assets/img/play.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.gifs {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
}

.anims.animated-gif {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    width: auto;
}

#anim1 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 23.4%;
    height: 60%;

}

#anim2 {
    position: absolute;
    bottom: 35%;
    left: 12.2%;
    width: 23.4%;
    height: 60%;

}

#anim3 {
    position: absolute;
    bottom: 0%;
    left: 26.4%;
    width: 23.4%;
    height: 60%;

}

#anim4 {
    position: absolute;
    bottom: 35%;
    left: 37.7%;
    width: 23.4%;
    height: 60%;

}

#anim5 {
    position: absolute;
    bottom: 0%;
    left: 52.4%;
    width: 23.4%;
    height: 60%;

}

#anim6 {
    position: absolute;
    bottom: 35%;
    right: 13.4%;
    width: 23.4%;
    height: 60%;

}

#anim7 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 23.4%;
    height: 60%;

}

#plbtn4 {
    margin-top: 20px;
}